@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Egor</h1>
    <p>Колеса Кз <a href="https://kolesa.kz/">Покупай машины вместе с нами</a>.</p>
    <a asp-controller="Login" asp-action="Index">Login</a>
</div>
